<html class="bg-dark">
<head>
<title>CyRun</title>
<!-- Meta tag below is important for safari on mobile devices (prevents zooming when a user focuses on a text box, etc.) -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link rel="stylesheet" href="styles.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color:#E6E6E6">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand mx-auto">
    <img id="level" height="80px" src="logo.png">
    </a>
  </nav>
  <div class="container-fluid mt-5 mb-5">
    <div class="row p-2 align-items-center">
      <div class="col-md-1 order-md-12"></div>
      <div class="col-md-4 order-md-11 mt-1 mb-1">
        <p id="characters">
           <img src="red_ghost.png" class="characterEntrance  ghost1" />
           <img src="orange_ghost.png" class="characterEntrance ghost3" />
           <img src="blue_ghost.png" class="characterEntrance ghost2" />
           <img src="pacman.png" class="characterEntrance" />
        </p>
        <form id="entranceForm" action="lobby.html" class="form-group" onsubmit="return checkEntrance();">
          <label for="username"><strong>Username</strong></label>
          <input class="form-control" type="text" size="40" placeholder="Type your username" id="username_entrance" name="username" oninvalid="this.setCustomValidity('Please enter a username')" oninput="this.setCustomValidity('')" required /><br />
          <p>20 characters or less</p>
          <label for="room"><strong>Game Lobby</strong></label>
          <input class="form-control" type="text" size="40" placeholder="Type the name of the game lobby" id="gamelobby_entrance" name="lobby" oninvalid="this.setCustomValidity('Please enter a game lobby')" oninput="this.setCustomValidity('')" required /></br />
          <div id="entranceFailureFeedback"></div>
          <button type="submit" id="submitBtn" class="btn btn-primary">Join lobby</button>
      </form>
      <div id="lobbyListContainer" class="bg-light rounded border border-dark border-5 p-2">
      <div id="lobbyLabelContainer" class="bg-light"><label class='center-text'><strong>Active Lobbies</strong></label><HR SIZE="1"></div>
        <div id="lobbyList"></div>
      </div>
      </div>

      <div class="col-md-4 order-md-2">
        <div id="howToPlay" class="bg-light mt-2 rounded p-2 border border-dark border-5">
          <h4>How To Play</h4>
          <HR>
          <ul class="instructions">
            <li><span class="bold">PacMan</span>: Collect resources to earn points. Grab a power pill to scare the ghosts and try to catch them to earn points.</li>
            <li><span class="bold">Ghosts</span>: Try to catch PacMan as many times as you can. Each time will earn you points.</li>
            <li>When PacMan is caught, he will safely respawn at a random location on the board.</li>
          </ul>
          <h4>Controls</h4>
          <HR>
          <ul class="instructions">
            <li><span class="bold">Desktop</span>: Press the arrow keys to change the direction of your player.</li>
            <li><span class="bold">Mobile</span>: While your finger is on the game board, swipe in any direction to move your player.</li>
          </ul>
          <h4 id="scoring">Scoring</h4>
          <HR>
          <ul class="instructions">
            <li><span class="bold">Who Wins</span>: Either PacMan or the three ghosts will become victorious. The scores of the three ghosts are combined after the game to determine if PacMan or the ghosts scored the most points.</li>
            <li class="center-text"><span class="bold">Scoring System</span></li>
            <li>Pacman consumes a dot or pill - <span class="bold">1 point</span></li>
            <li>Pacman consumes a ghost - <span class="bold">2 points</span></li>
            <li>Ghost kills Pacman - <span class="bold">15 points</span></li>
          </ul>
          <h4>Play with Friends</h4>
          <HR>
          <ul class="instructions">
            <li>Either join an existing lobby or start a new one by entering the lobby name.</li>
            <li>Share the lobby name to play against friends.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 order-md-1"></div>

    </div>
  </div>
  <footer class="footer text-center bg-dark">
    <p>Join a lobby with three other players to begin a game!<br /></span>
    Created by <a href="http://christianlisle.com" target="_blank">Christian Lisle</a>, <a href="https://github.com/goofyspoon?tab=repositories" target="_blank">Marissa Gustafson</a>, and Joe Dobosenski</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="./entrance.js"></script>
<script>failureFeedback();</script>
</body>
</html>
