<html class="bg-dark">
<head>
<title>CyRun - Lobby</title>
<!-- Meta tag below is important for safari on mobile devices (prevents zooming when a user focuses on a text box, etc.) -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css" />
<link rel="icon" type="image/png" href="favicon.png"/>
</head>

<body style="background-color:#E6E6E6">
<nav class="navbar navbar-light bg-dark">
  <a class="navbar-brand mx-auto">
  <img id="level" height="42px" src="logo.png">
  </a>
</nav>

<div class="container-fluid">
  <div class="row">
    <!-- Left Column -->
    <div class="col-lg-3 mb-4">
      <button onClick="toggleChat();" class="toggleChat btn btn-primary">Chat</button>
      <div id="chat_container" class="mt-2">
        <button onClick="toggleChat();" class="toggleChat exit-chat btn btn-primary">Back</button>
        <h5 id="gamelobby"></h5>
        <div class="rounded border border-dark bg-light border-5 p-2" id="chat"></div>
        <div class="input-group mt-1">
          <input type="text" placeholder="Type your message" id="chatbox" name="chat" class="form-control">
          <div class="input-group-append">
            <button type="button" id="send" class="btn btn-primary">Send</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Middle Column -->
    <div class="col-lg-6 text-center" id="wrapper">
      <h4 id="countdown"></h4>
      <div id="game"></div>
    </div>


    <!-- Right Column -->
    <div class="col-lg-3 pt-38">
      <div id="users_lobby" class="bg-light mt-2 rounded p-2 border border-dark border-5">
        <form id="game_button_form" action="index.html" class="form-group">
          <button class="btn btn-primary center-text" id="begin_game">Begin Game</span></button>
          <button type="submit" class="btn btn-primary" id="leave_game" onclick="location.href = 'index.html'">Leave game</button>
          <HR>
        </form>
        <h4>Players</h4>
        <div id="users">
          <div id="user1" class="userListItem"></div>
          <div id="user2" class="userListItem"></div>
          <div id="user3" class="userListItem"></div>
          <div id="user4" class="userListItem"></div>
        </div>
        <form id="cpu-difficulty" class="form-group">
          <HR>
          <h4 class="center-text">CPU Difficulty</h4>
          <button class="btn btn-primary center-text" type="button" id="easy">Easy</button>
          <button class="btn btn-primary center-text" type="button" id="normal">Normal</button>
          <button class="btn btn-primary center-text" type="button" id="hard">Hard</button>
        </form>
      </div>

      <div id="endgameboard" class="bg-light mt-2 rounded p-2 border border-dark border-5">
        <nav class="navbar navbar-light bg-dark">
          <a class="navbar-brand mx-auto">
            <img src="gameover.png" id="gameOverPic">
          </a>
        </nav>
        <h4 class="clear-both pt-20"><span class="bold">Match Time</span>: <span id="matchTime"></span></h4>
        <br>
        <h4 class="center-text">Scoreboard</h4>
        <HR>
        <div id="finalScoreboard"></div>
        <HR class="clear-both">
        <h4><span class="bold">Winner</span>: <span id="winner"></winner></h4>
        <HR>
        <div class="center-text">
          <button id="playagain" class="btn btn-primary">Play again</button>
          <br><br>
          <form action="index.html" class="form-group">
            <button type="submit" class="btn btn-primary">Return to main menu</button>
          </form>
          <p><a href="index.html#scoring" onclick="toggleScoring();">About Scoring</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p><br><br>
<footer class="footer text-center bg-dark">
  <p><span id="footerMsg">Waiting for players<br /></span>
  Created by <a href="http://christianlisle.com" target="_blank">Christian Lisle</a>, <a href="https://github.com/goofyspoon?tab=repositories" target="_blank">Marissa Gustafson</a>, and <a href="https://jdobo232.wixsite.com/josephdobosenski" target="_blank">Joe Dobosenski</a></p>
</footer>
<script>
  function toggleChat() {
    let chat = document.getElementById('chat_container');
    if (chat.style.display != 'block')
      chat.style.display = 'block';
    else {
      chat.style.display = 'none';
    }

    // Detect when orientation is changed and fix toggleChat issue that happens when a user hides chat in portrait and then goes to landscape orientation
    function handleWindowResize() {
      if (window.innerWidth > window.innerHeight) {
        document.getElementById('chat_container').style.display = 'block';
      }
      else if (document.getElementById('chat_container').style.display == 'block' && !(window.innerHeight > window.innerWidth))  {
        document.getElementById('chat_container').style.display = 'none'; // Hide chat if going to portrait from landscape
      }
    }

    window.onresize = handleWindowResize;
}

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
<script src="./socket.io/socket.io.js"></script>
<script src="./app.js"></script>
</body>
</html>
