* {
  box-sizing: border-box;
}

#howToPlay h4, #howToPlay h5  {
  text-align: center;
}

#howToPlay  {
  border-width: 5px !important;
}

.instructions {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

ul {
  list-style-type: none;
}

.bold { font-weight: bold; }

.underline  { text-decoration: underline; }

.center-text  { text-align: center; }

.clear-both { clear: both; }


#characters {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.characterEntrance  {
  width: 20%;
  max-width: 72px;
  height: auto;
  filter: drop-shadow(1px 4px 1px #4d4d4d);
}

#entranceForm {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#entranceForm p {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: .7em;
  line-height: .7em;
}

#submit {
  float: right;
}

footer p  {
  width: 82%;
  margin: 0 auto;
  color: #FFFF00;
}

/* Create three unequal columns that floats next to each other */
.border-5{
  border-width:5px !important;
}

* {
  box-sizing: border-box;
}

/* chatbox and user list styling on lobby page*/
#chat, #users_lobby {
  min-height: 500px;
  height: 500px;
  position: relative;
}

#chat {
  word-break: break-all;
  overflow-y: scroll;
}

@media only screen and (orientation: portrait)  {
  html, body  {
    overflow-x: hidden;
  }
  .toggleChat, #gamelobby, #countdown, #leave_game {
    font-size: 2em;
    margin: 10px auto 10px auto;
    display: block;
  }

  #users_lobby  {
    min-height: 600px;
    height: 650px;;
  }

  .exit-chat {
    margin-left: 10px;
    float: left;
  }

  #chat_container {
    display: none;
    margin-top: 0px !important;
    padding-top: 10px;
    background-color: #E6E6E6;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 10;
    overflow: hidden;
  }

  #chat {
    width: 100%;
    height: 60vh;
    max-height: 1000px;
    font-size: 1.75em;
  }
  #chatbox, #send {
    font-size: 2em;
  }
}


@media only screen and (orientation: landscape)  {
  .toggleChat {
    display: none;
  }
}


.userListItem {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  min-height: 50px;
  float: left;
  height: auto;
  text-align: center;
}
.userListItem p {
  word-wrap: break-word;
  width: 90%;
  margin: 0 auto;
  text-align: center;

}
.userListItem span {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  float: left;
  clear: both;
}

.userListItem img {
  width: auto;
  height: 30%;
}

@media only screen and (orientation: portrait) and (min-width: 1000px)  {
  .userListItem {
    width: 100%;

  }
    .userListItem img {
      height: 50px;
      width: auto;
    }
}

.activePlayerName {
  font-weight: bold;
}

#leave_game_form {
  position: absolute;
  margin-top: 100px;
  width: 100%;
  bottom: 3px;
  text-align: center;
}

#wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

#game {
  position: relative;
  display: inline-grid;
  background: black;
}

.game-status {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#endgameboard {
  /*text-align: center;*/
  align-items: center;
  justify-content: center;
  display: none; /* Hidden by default */
}

#endgameboard nav {
  width: 100%;
  text-align: center;
}

#gameOverPic  {
  width: 85%;
  max-width: 750px;
}

.characterGameOver  {
  min-width: 20px;
  width: 10%;
  max-width: 30px;
  min-height: 20px;
  height: auto;
  max-height: 30px;
  margin-right: 5px;
}

#finalScoreboard  {
  align-items: center;
  min-width: 200px;
  width: 90%;
  max-width: 600px;
  height: 175px;
  margin: 0 auto;
}

#playerInfo {
  align-items: center;
  width: 85%;
  float: left;
}

#playerInfo p, #playerScore p {
  align-items: center;
  margin: 0px 0px 0px 0px;
  height: 25%;
  max-height: 100px;
}

#playerScore  {
  height: 100%;
  width: 15%;
  float: left;
}

.score  {
  line-height: 3em;
}



@media only screen and (orientation: portrait)  {

}

/*#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 5px darkblue solid;
  background: black;
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}*/

li{
  margin: 20px 0;
}

#start-button {
  margin-top: 20px;
}

#gamelobby, #users_lobby  {
  word-break: break-all;
  text-align: center;
}

.hide {
  display: none;
}

.square {
  display: block;
}

.blank, .outside {
  background: black;
}

.lair {
  background-color: #171717;
}

.wall {
  border: 1px solid blue;
}

.dot {
  background: white;
  border: 8px solid black;
  border-radius: 50%;
}

.pill {
  background: white;
  border: 5px solid black;
  border-radius: 50%;
}

.ghost {
  position: relative;
  border-radius: 10px 10px 2px 2px;
  border: none;
}

.ghost::before {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  left: 3px;
  top: 5px;
  border: 2px solid white;
}

.ghost::after {
  content: '';
  display: block;
  position: absolute;
  width: 3px;
  height: 3px;
  background: black;
  border-radius: 50%;
  right: 3px;
  top: 5px;
  border: 2px solid white;
}

.scared {
  background: blue !important;
}

.ghost1 {
  /*background: red;*/
  background-color: black;
  background-image: url('red_ghost.png');
  background-size: cover;
  filter: drop-shadow(1px 4px 1px #4d4d4d);
}

.ghost2 {
  /*background: pink;*/
  background-color: black;
  background-image: url('blue_ghost.png');
  background-size: cover;
  filter: drop-shadow(1px 4px 1px #4d4d4d);
}

.ghost3 {
  /*background: cyan;*/
  background-color: black;
  background-image: url('orange_ghost.png');
  background-size: cover;
  filter: drop-shadow(1px 4px 1px #4d4d4d);
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  clip-path: polygon(
    0 0,
    20px 0,
    20px -5px,
    8px 10px,
    20px 25px,
    20px 20px,
    0 20px
  );
  animation: chew 0.2s linear forwards infinite;
}

@keyframes chew {
  50% {
    clip-path: polygon(
      0 0,
      20px 0,
      20px 10px,
      8px 10px,
      20px 10px,
      20px 20px,
      0 20px
    );
  }
}
